img {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
    object-fit: contain;
  }

  body{
    min-width: 26.875rem;
  }


.font{
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    padding-top: 2.5rem;
    padding-left: 4.8125rem;
    font-size:1.5rem;
}





.news{
    display:grid;
    padding-right: 7.4375rem;
    font-family: 'Space Mono', monospace;
    font-size: 3.75rem;
    font-weight:bold;
    width:36.625rem;
    height: 11.875rem;
}


.found{
    font-family: 'Space Mono', monospace;

}


.click{
    width:13.5rem;
    height:4.25rem;
    background-color: #333333;
    font-family: 'Space Mono', monospace;
    color:white;
    
}


.subtitle{
    display:grid;
    font-size: 1.5rem;
    font-family: 'Space Mono', monospace;
    width:23.8125rem;
    height: 6.75rem;


}

.footer {
    position: static;
    bottom: 0;
    text-align: center;
    color:#BDBDBD;
   font-family: 'Montserrat', monospace;
  }

  .container{
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;
  }

 .section {
    margin-top:2rem;
 }

 .container2{
    display: flex;
    flex-wrap: wrap;
    
 }

 .column{
    flex-basis: 50%;
 }


 @media screen and (max-width:1440px) {
    .news{
        font-size:3rem;
    }
    .subtitle{
        font-size:1.25rem;
    }

    
 
 }

 @media (max-width:1283px) {
    .news{
        font-size:3rem;
    }
    .subtitle{
        font-size:1.25rem;
    }

    .hat{
        flex-direction:column;
    }

 }

 @media(max-width:768px){
    .column{
      flex-basis: 100%;
    }
    
 }
 

 


